<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h5{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h5{% else %}div{% endif %}>
    <p class="lead">{{ site.tagline }}</p>
  </header>
  
  <span class="site-version">Thoughts, poems and pictures to help make sense of the world.</span>

  {% include sidebar-nav-links.html %}
  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>